h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #24292e;
    font-weight: 600;
    /*
    margin-top: 24px;
    margin-bottom: 15px;
    */
}

h1 {
    font-size: 32px;
    padding-bottom: 10px;
}

h2 {
    font-size: 24px;

    line-height: 1.25;
}

h3 {
    font-size: 18px;
    line-height: 25px;
}

h4 {
    font-size: 16px;
    line-height: 20px;
}

h5 {
    font-size: 14px;
    line-height: 17.5px;
}

p {
    margin-bottom: 1.5em;
}

h1.entry-title {
    font-size: 21px;
    border-bottom: 1px solid #eaecef;
}

h2.entry-title {
    border-bottom: 1px solid #eaecef;
}

h3.widget-title {
    font-size: 1.2rem;
}

.bg-sparrow {
    margin-bottom: 0;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
    padding: .74rem 1rem;
}

.welcome-banner {
    padding-top: 5rem;
    padding-bottom: 0;
    height: 20rem;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*text-shadow: 1px 1px 1px black;*/
    color: white;
}


.welcome-banner h1 {
    font-size: 4rem;
}

#friend-link img {
    border-radius: 100%;
    margin-bottom: 5px;
    transition: 0.5s;
    -webkit-transtion: 0.5s;
}

#friend-link {
    text-align: center;
}

#friend-link a:hover img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.friend-name {
    padding: 0;
    margin: 0;
}
.friend-description {
    margin: 0;
    padding: 0;
}
.widget-area li {
    list-style-type: none;
    
}
.widget-area ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 10px;
}
.widget-area ul li:hover {
    background-color: #eaecef;
}

.badge:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.badge:after {
	border-left-color: #007bff;
    border-width: 9px;
    margin-left: 5px;
}

.entry-title .badge a{
    color: inherit;
}

.entry-title>a {
    color: inherit;
}

/*Fix nav hover issue */
.bg-sparrow .nav-link:hover {
    background: inherit;
}